:root {
  font-family: "Roboto", Times, serif;
  --main-color: #212121;
  --accent-color: #2196f3;
}
a {
  text-decoration: none;
}
/* --------- HEADER ---------- */

.navigation-logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.navigation-logo-web {
  color: var(--accent-color);
}
.navigation-logo-studio {
  color: var(--main-color);
}
.header-list {
  display: inline-block;
}
.header-list-element {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
}
.header-list-element:hover,
.header-list-element:focus {
  color: #2196f3;
}
.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
.header-address {
  display: inline-block;
}
.header-address-element:hover,
.header-address-element:focus {
  color: #2196f3;
}
/* --------- HERO ---------- */
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #2f303a;
  width: 1600px;
  height: 600px;
}
.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  background: #2196f3;
  color: white;
  text-decoration: none;
  text-align: center;
}
/* --------- BENEFITS ---------- */
.benefits-list-item {
  display: inline-block;
  padding: 30px;
}
.benefits-list-item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}
.benefits-list-item-paragraph {
  font-size: 14px;
  line-height: 2;
  color: #757575;
}
/* --------- ACTIVITIES ---------- */
.activities-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color);
}
.activities-header-list {
  display: inline-block;
  padding: 30px;
}
/* --------- TEAM ---------- */
.team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color);
}
.team-list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--main-color);
}
.team-list-paragraph {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}
.team-list-item {
  display: inline-block;
  padding: 30px;
}
/* --------- FOOTER ---------- */
.address {
  width: 231px;
  height: 21px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
}
.address-list-address {
  font-size: 14px;
  line-height: 2;

  color: #ffffff;
}
.address-list-mail {
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
.address-list-tel {
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
/* ------------------- PORTFOLIO ------------------- */
.portfolio-navigation .button:hover,
.portfolio-navigation .button:focus {
  background: #2196f3;
}
.portfolio-navigation li {
  display: inline-block;
}
.portfolio-navigation .button {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background: #f5f4fa;
}
.portfolio-section h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
}
.portfolio-section p {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.portfolio-section li {
  display: inline-block;
}
.portfolio-section li:focus,
.portfolio-section li:hover {
  color: #2196f3;
}
